
#sb{
    margin-bottom: -10px;
}
.l{
    display: flex;
    justify-content: center;
    text-align: center;
}

.r{
    display: flex;
    justify-content: center;
    text-align: center;
    border: solid #fd6585  3px;  
}

img{
    max-width: 200%;
}
#k{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: -5px;
    margin-bottom: -10px;
}

  
.title {
    color: #fd6585;
    text-align: center;
    font-weight: 600;
  }
