#sb{
    margin-bottom: -10px;
}
.l{
    display: flex;
    justify-content: center;
    text-align: center;
}

img{
    max-width: 200%;
}
#k{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -0.01px;
    margin-bottom: -10px;
}
